<footer class="footer text-center pt-4 mb-5">
  <p class="mb-1"><i class="fa-solid fa-envelope"></i> support@splashspace.com </p>
  <p class="mb-1"><i class="fa-solid fa-phone"></i> +33 6 00 00 00 00</p>
  <p class="mb-1">
    <%= link_to "About", "#"%> |
    <%= link_to "Contact", "#"%> |
    <%= link_to "Blog", "#"%>
  </p>
  <div class="lighter-color py-1">
    <p class="m-0">&copy; <%= Date.current.year %> SplashSpace. All Rights Reserved.</p>
  </div>

</footer>
