.gray-rounded-btn {
  background-color: lightgray;
  color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;

 &:hover {
    transform: translateY(-5px);
    background-color: #F4F4F4;
    color: black;
  }
}

.explore-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);


  a {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: medium;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;

    &:hover {
      background-color: #333;
    }
  }
}

#gotomap-button {
  position: fixed;
  z-index: 100;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
}

.container-btn{
  color: red;
}
.black-rounded-btn{
  background-color: black;
  color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  text-decoration: none;
  width: 90px;
  height: 25px;
  justify-content: center;
 &:hover {
    transform: translateY(-5px);
    background-color: #F4F4F4;
    color: black;
  }
}

.gray-rounded-btn-hover-red {

  background-color: lightgray;
  color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;

 &:hover {
  transform: translateY(-5px);
  background-color: #ff6969;
  color: black;
  }
}


.gray-rounded-btn-hover-green {

  background-color: lightgray;
  color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;

  &:hover {
  transform: translateY(-5px);
  background-color: #77f763;
  color: black;
  }
}
