.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: white;

  &__left {
    .icon-link {
      text-decoration: none;
      font-size: 24px;
      color: black;
    }
  }

  &__center {
    .nav-title {
      text-decoration: none;
      font-size: 24px;
      color: black;
    }
  }

  &__right {
    .profile-link {
      display: inline-block;
    }

    .profile-picture {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid white;
    }
  }
}
